body {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Black Han Sans", sans-serif;
    background-image: url(image/야구배경.png);
  }
  .main-img {
    width: 20vw;
  }
  .sub-img {
      width: 15vw;
    }
  .container {
    width: 1000px;
    height: 1200px;
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247, 243, 242, 0.7);
  }
  .border-line {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

.chance-area{
    font-size: 7vw;
    font-weight: bold;
}

#userInput {
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 20px; 
    margin-top: 10px; 
}

#play-button, #reset-button ,#ex {
    padding: 20px 20px; 
    background-color: #0054FF; 
    border: none; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
    font-family: "Black Han Sans", sans-serif;
    
}

#play-button:hover, #reset-button:hover {
    background-color: #45a049; 
}

